.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.searchSection{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.tasks{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border:1px solid red;
    margin-top: 10px;
}

.task{
    display: flex;
     margin-top: 10px;
    justify-content: space-between;
   
}