.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.btnDropdown {
  display: block;
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  background-color: white;
  box-shadow: 0px 10px 5px 0px gainsboro;
  z-index: 1;
  min-width: 150px;
  position: absolute;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
