* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.watch {
  height: 150px;
  width: 150px;
  color: white;
  background-color: blueviolet;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 150px;
}
